@font-face {
    font-family: 'Welcome';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Welcome';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeBA.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
@mixin font-face($weight:400){
  font-family: "Welcome";
  font-weight: $weight;
}

//bold
@mixin display-b{
  @include font-face;
  font-size: 3.5rem;
  line-height: auto;
  font-weight: bold;
}
@mixin heading-b{
  @include font-face;
  font-size: 2.5rem;
  line-height: auto;
  font-weight: bold;
}
@mixin title-b{
  @include font-face;
  font-size: 2rem;
  line-height: auto;
  font-weight: bold;
}
@mixin body-b{
  @include font-face;
  font-size: 1.5rem;
  line-height: auto;
  font-weight: bold;
}
@mixin caption-b{
  @include font-face;
  font-size: 1rem;
  line-height: auto;
  font-weight: bold;
}


//Regular
@mixin display-r{
  @include font-face;
  font-size: 3.5rem;
  line-height: auto;
  font-weight: 400;
}
@mixin heading-r{
  @include font-face;
  font-size: 2.5rem;
  line-height: auto;
  font-weight: 400;
}
@mixin title-r{
  @include font-face;
  font-size: 2rem;
  line-height: auto;
  font-weight: 400;
}
@mixin body-r{
  @include font-face;
  font-size: 1.5rem;
  line-height: auto;
  font-weight: 400;
}
@mixin caption-r{
  @include font-face;
  font-size: 1rem;
  line-height: auto;
  font-weight: 400;
}

