/* AuthPage.scss */
@use "../assets/scss/variables" as *;
@use "../assets/scss/mixins" as *;
@use "../assets/scss/fonts" as * ;

.auth-page {
  width: 100%;
  min-width: 430px;
  height: 100vh;
  margin: 0 auto;
  padding-top: 100px;
  min-height: calc(100vh - 60px);
  background: $color-real-white;
  @include caption-b();

  @include flex-layout(column, flex-start, center, 0);

  h2 {
    padding-bottom: 50px;
    @include title-b();
    color: $color-black;
  }

  .form {
    width: 100%;
    @include flex-layout($dir:column, $gap: 5rem);

    .inputData {
      @include flex-layout(row, flex-start, center, 20px);
      margin-bottom: 16px;

      label {
        width: 70px;
        @include caption-b();
        color: $color-black;
      }

      input {
        // flex: 1;
        width: 300px;
        height: 42px;
        padding: 0 14px;
        border-radius: 6px;
        border: none;
        outline: none;
        background: rgba($color-bbb, 0.25);
        color: $color-black;
        
        &::placeholder {
          color: rgba($color-555, 0.6);
          @include caption-r();
        }
      }
    }

    .btn-wrap {
      width: 100%;
      // height: 90px;
      // margin-top: 90px;
      @include flex-layout(column, space-between, center, 16px);
      .submit-btn {
        @include caption-b();

        @include btn-theme(
          $color-black,
          $color-btn,
          $color-white,
          $color-black
        );

        //화면 꽉 채우려면 override 필요
        width: 100%;
        max-width: 390px;
        &:disabled {
          opacity: 0.6;
          cursor: not-allowed;
        }
      }
    }
  }

  .social-login {
      width: 390px;
      min-width: 430px;
      margin-top: 100px;
      @include flex-layout(row, space-around, center, 1.5rem);
      transition: 0.3s;
      img {
        width: 45px;
        cursor: pointer;
        transition: 0.3s;


        &:hover {
          transform: scale(1.1);
        }
      }
    }
}
