/* Guest-LoginPage.scss */
@use "../assets/scss/variables" as *;
@use "../assets/scss/mixins" as *;

.guest-login-page{
  width: 100%;
  max-width: 360px;
  height: 100vh;
  margin: 0 auto;
  padding-top: 100px;
  min-height: calc(100vh - 60px);
  background: $color-real-white;
  font-size: 16px;


  @include flex-layout(column, flex-start, center, 0);

  h2 {
    padding-bottom: 50px;
    font-size: 32px;
    font-weight: 800;
    color: $color-black;
  }

  .form {
    width: 100%;
    max-width: 360px;

    .inputData {
      @include flex-layout(row, flex-start, center, 20px);
      margin-bottom: 16px;

      label {
        width: 70px;
        font-size: 16px;
        font-weight: 600;
        color: $color-black;
      }

      input {
        // flex: 1;
        width: 311px;
        height: 42px;
        padding: 0 14px;
        border-radius: 6px;
        border: none;
        outline: none;
        background: rgba($color-bbb, 0.25);
        color: $color-black;
        font-size: 16px;

        &::placeholder {
          color: rgba($color-555, 0.6);
          font-size: 16px;
        }
      }
    }

    
    .submit-btn {
      width: 100%;
      font-size: 16px;
      font-weight: 600;

      @include btn-theme($color-black, $color-btn, $color-white, $color-black);

      //화면 꽉 채우려면 override 필요
      width: 100%;
      max-width: 360px;
      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }
    

    
  }
}
