/* SignupPage.scss */
@use "../assets/scss/variables" as *;
@use "../assets/scss/mixins" as *;
@use "../assets/scss/fonts" as *;

.signup-page{
  width: 100%;
  max-width: 360px;
  height: 100vh;
  margin: 0 auto;
  padding-top: 100px;
  min-height: calc(100vh - 60px);
  background: $color-real-white;

  @include flex-layout(column, flex-start, center, 0);

  h2 {
    padding-bottom: 50px;
    @include heading-b();
    color: $color-black;
  }

  .form {
    width: 100%;
    max-width: 360px;

    .inputData {
      @include flex-layout(row, flex-start, center, 20px);
      margin-bottom: 1rem;

      label {
        width: 70px;
        @include caption-b();
        color: $color-black;
      }

      input {
        // flex: 1;
        width: 311px;
        height: 42px;
        padding: 0 1rem;
        border-radius: 6px;
        border: none;
        outline: none;
        background: rgba($color-bbb, 0.25);
        color: $color-black;
        &::placeholder {
          color: rgba($color-555, 0.6);
        }
      }
    }

    .submit-btn {
      margin-top: 100px;
      width: 100%;
      @include caption-b();


      @include btn-theme($color-black, $color-btn, $color-white, $color-black);

      //화면 꽉 채우려면 override 필요
      width: 100%;
      max-width: 360px;
      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }
  }
}
