@use "../assets/scss/variables" as *;
@use "../assets/scss/mixins" as *;

.tip-page{
  width: 100%;
  min-width: 430px;
  height: 100vh;
  padding-top: 3rem;
  background-color: $color-white;
  .tip-list{
    width: 80%;
    margin: 0 auto;
    }
}