@use "../../../assets/scss/fonts" as *;
@use "../../../assets/scss/variables" as *;
@use "../../../assets/scss/mixins" as *;

@media (max-width: 767px) {
  .parking-scroll {
    position: relative;
    height: calc(100vh - 120px);
    overflow-y: auto;
  }

  .parking-map {
    padding-bottom: 110px;
  }

  .parking-card {
    position: fixed;
    left: 50%;
    bottom: 110px;
    transform: translateX(-50%);
    width: 70%;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    background: $color-white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    @include flex-layout(row, flex-start, center, 1rem);

    &-img {
      width: 50px;
      height: 50px;
      border-radius: 1rem;
      background: $color-555;
      flex: 0 0 auto;
    }

    &-texts {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      min-width: 0;
    }

    &-name {
      @include body-b();
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-addr {
      @include caption-r();
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.reservation-info {
  .parking-header-desktop {
    width: 100%;
    height: 220px;
    border-radius: 16px;
    margin-bottom: 1rem;
    background: transparent;
  }
}

.reserve-popup-body {
  margin-top: 12px;

  .reserve-info {
    padding: 1rem;

    .reserve-select-info {
      margin-bottom: 10px;
      @include flex-layout(row, space-between, center, 0.75rem);

      .reserve-info-name {
        @include caption-b();
      }

      .reserve-info-code {
        @include flex-layout(row, flex-start, center, 1rem);

        .reserve-code {
          @include title-b();
        }
      }
    }
  }
}

.reserve-popup-button {
  @include btn-theme();
  width: 100%;
}


// .copy-toast {
//       width: 60px;
//       height: 25px;
//       position: absolute;
//       left: 68%;
//       transform: translateX(-50%) translateY(10px);
//       top: 20px;
//       background: #7F31BC;
//       color: #fff;
//       padding-top: 6px;
//       border-radius: 1rem;
//       font-size: 14px;
//       text-align: center;
//       opacity: 0;
//       pointer-events: none;
//       transition: opacity 0.2s ease, transform 0.2s ease;
//       z-index: 10;
//     }

//     .copy-toast.show {
//       opacity: 1;
//       transform: translateX(-50%) translateY(0);
//     }
