@use "../../../assets/scss/fonts" as *;
@use "../../../assets/scss/variables" as *;
@use "../../../assets/scss/mixins" as *;

.parking-map {
  position: relative;
  width: 100%;
  max-width: 2000px;
  height: 100vh;
  @include flex-layout();
  background: $color-555;

  .parking-direction {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    color: $color-sub;
    text-align: center;
  }

  .lane {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 26px;

    &.lane-left {
      margin-right: 16px;
    }
    &.lane-right {
      margin-left: 16px;
    }

    .parking-box {
      padding: 1rem 3rem;
      border-radius: 0.4rem;
      background: $color-555;
      cursor: pointer;
      @include flex-layout();

      &.selected {
        color: #fff;
      }

      &.taken {
        background: $color-bbb;
      }

      &.taken::after {
        color: $color-555;
      }

      .box-code {
        @include caption-b();
        color: $color-white;
      }
    }

    .parking-box.box-일반 {
      border: 4px solid $color-white;
    }
    .parking-box.box-장애인 {
      border: 4px solid $color-yellow;
    }
    .parking-box.box-경차 {
      border: 4px solid #ff5e5e;
    }
    .parking-box.box-전기차 {
      border: 4px solid $color-green;
    }

    .parking-box.selected {
      background: $color-red;
    }

    .parking-box.selected .box-code {
      color: $color-white;
    }
  }

  .road {
    width: 2rem;
  }
}
