@use "../../../assets/scss/fonts" as *;
@use "../../../assets/scss/variables" as *;
@use "../../../assets/scss/mixins" as *;



  .parking-scroll {
    position: relative;
    overflow-y: auto;
  }

  .parking-card {
    position: fixed;
    left: 50%;
    bottom: 150px;
    transform: translateX(-50%);
    width: 70%;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    background: $color-white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    @include flex-layout(row, flex-start, center, 1rem);
    @include respond{
      display: none;
    }

    &-img {
      width: 50px;
      height: 50px;
      border-radius: 1rem;
      background: $color-555;
      flex: 0 0 auto;
    }

    &-texts {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      min-width: 0;
    }

    &-name {
      @include body-b();
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-addr {
      @include caption-r();
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }


.reservation-info {

  .parking-header-desktop {
    width: 100%;
    height: auto;
    min-height: 220px;
    max-height: 500px;
    border-radius: 16px;
    margin-bottom: 1rem;
    background: transparent;
    .img{
      height: 250px;
    }
  }
}

.reserve-popup-body {
  margin-top: 12px;

  .reserve-info {
    padding: 1rem;

    .reserve-select-info {
      margin-bottom: 10px;
      @include flex-layout(row, space-between, center, 0.75rem);

      .reserve-info-name {
        @include caption-b();
      }

      .reserve-info-code {
        @include flex-layout(row, flex-start, center, 1rem);

        .reserve-code {
          @include title-b();
        }
      }
    }
  }
}

.reserve-popup-button {
  @include btn-theme();
  width: 100%;
}

.parking-header-desktop{
  .img{
  width: 100%;
  height: 300px;
  background-color: $color-555;
}

};
//컴포넌트 팝업 픽시드 위치 해제 값 넣으려고 !import사용했숨다 
.detail-desktop {
  .popup-overlay {
    position: relative !important;
    inset: auto !important;
    background: none !important;
  }

  .popup {
    position: relative !important;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
    transform: none !important;

    width: 100% !important;
    height: auto !important;
    box-shadow: none !important;
  }

  .popup-overlay,
  .popup,
  .popup-content,
  .popup-track,
  .popup-panel,
  .popup-detail {
    overflow: hidden !important;
    max-height: none !important;
    .btn {
      display: none !important;
    }
     .back {
      display: none !important;
    }
  }

}
.copy-toast {
      width: 60px;
      height: 25px;
      position: absolute;
      left: 68%;
      transform: translateX(-50%) translateY(10px);
      top: 20px;
      background: $color-main;
      color: #fff;
      padding-top: 6px;
      border-radius: 1rem;
      font-size: 14px;
      text-align: center;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s ease, transform 0.2s ease;
      z-index: 10;
    }

    .copy-toast.show {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
