@use "../../assets/scss/fonts" as *;
@use "../../assets/scss/variables" as *;
@use "../../assets/scss/mixins" as *;

header{
    width: 100%;
    height: 60px;
    padding: 1rem;
    position: fixed;
    top: 0;
    z-index: 999;
    overflow: hidden;
    @include flex-layout($just:space-between);

    // 로고 이미지
    .logo {
        width: 30px;
        height: 44px;
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .login{
        @include flex-layout(row,space-around);
        
        button{
            cursor: pointer;
            @include btn-theme($bg:#7F31BC,$hover-bg:#B67FDB,$color:#ddd);
            width: auto;
            height: 15px;      
        }

        
    }
}