@use "../../assets/scss/fonts" as *;
@use "../../assets/scss/variables" as *;
@use "../../assets/scss/mixins" as *;
.popup-overlay{
    position: fixed;
  inset: 0;
  background: rgba(0,0,0,0);
  opacity: 0;
  transition: opacity 260ms ease, background 260ms ease;
  z-index: 9998;
   &.is-open {
    opacity: 1;
  }

 .popup {
  @include flex-layout(column,center);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 350px;         
  margin: 0 auto;            
  height: 35vh;              
  background: #fff;
  border-radius: 16px;
  padding: 16px;
  transform: translateY(100%); 
  opacity: 1;
  transition: transform 260ms ease;
  z-index: 9999;
  backface-visibility: hidden;
  will-change: transform;
  &.is-open {
    transform: translateY(-30%); 
  }

      input{
            position: relative;
            transition: transform 0.3s ease;
            text-align: center;
            left: 0;
            right: 0;
            top: 30%;
            // transform: translateX(80px);
            width: 200px;
            z-index: 9999; // 지도 위로
            padding: 0.5rem 0;
            @include caption-r();
            border-radius: 15px;
            border: none;
            background-color: rgba(148, 148, 148, 0.25);
            box-shadow: 0 3px 3px rgba($color: #000000, $alpha: 0.33);
            backdrop-filter: saturate(100%) blur(5px);
            transition: 0.5s;
        &:focus{
            width: 250px;
            outline: none;
            border: 0.5px solid rgba(148, 148, 148, 0.45);
        }
    }
.popup-close {
  position: relative;
  top: 10%;
  left: 50%;
  transform: translateX(-60%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 22px;
  line-height: 1;
  z-index: 9999;
}

/* X 버튼 더 오른쪽 끝 */

/* 내용 */
.popup-content {
  width: 100%;
  margin-top: 20px; // X랑 겹치지 않게
}

.popup-list {
  position: relative;
  transform: translateY(-15%);
  max-height: 300px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  // Firefox
  scrollbar-width: none;

  // IE, 옛 Edge (이제 쓸 일 없지만)
  -ms-overflow-style: none;
  padding: 80px 0;
  li {
    cursor: pointer;
    @include flex-layout(row,left);
    padding: 10px 1px;
    
  }
}
.thumb {   
  width: 100px;   
  height: 100px;   
  border-radius: 12px;   
  object-fit: cover;  
  flex: 0 0 120px; }  
  
  .meta .title { font-weight: 600; } 
  
  .meta .addr { color: #777; }
 }
}

