@use "../../../assets/scss/variables" as *;
@use "../../../assets/scss/fonts" as *;
@use "../../../assets/scss/mixins" as *;

#ad {
  width: 100%;
  height: 150px;
  background-color: $color-sub;
  border-radius: 1rem;
  padding: 1rem;
  @include flex-layout();
  .car-img {
    width: 50%;
    height: inherit;
    position: relative;
    img {
      width: 100px;
      position: absolute;
      bottom: 0;
      left: 0;
      &:nth-child(1) {
        bottom: 1rem;
        left: 1rem;
      }
      &:nth-child(2) {
        bottom: 0.5rem;
        left: 6rem;
      }
    }
  }
  .ad-txt {
    width: 50%;
    height: inherit;
    position: relative;
    p {
      position: absolute;
      top: 2rem;
      right: 0.5rem;
      text-align: right;
      z-index: 99;
      @include flex-layout($just:flex-end, $align:flex-start);
      @include caption-r;
    }
  }
}