@use "../../../assets/scss/variables" as *;
@use "../../../assets/scss/fonts" as *;
@use "../../../assets/scss/mixins" as *;

#clock {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  background-color: $color-btn;
  border-radius: 1rem;
  @include flex-layout($dir:column);

  .in-time, .out-time {
    width: 100%;
    @include flex-layout($just:space-between, $gap:0);
    p {
      display: inline-block;
      color: $color-main;
      width: 50%;
      height: 1rem;
      text-align: center;
      font-size: 1.2rem;
    }
    .react-datepicker-wrapper {
      display: inline-block;
      width: 50%;
    }
    .react-datepicker-ignore-onclickoutside, input {
      display: block;
      width: 100% !important;
    }
    input {
      height: 35px;
      border: none;
      text-align: center;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
      max-width: 400px;
      color: $color-555;
    }
    span {
      display: none;
    }
    .react-datepicker {
      width: 150px;
      // height: 500px;
      background-color: #fff;
      border: 2px solid $color-bbb;
      border-radius: 0.5rem;
      padding: 1rem;
      z-index: 999;
      ul {
        @include flex-layout($dir:column);
      }
    }
  }
}