@use "../../../assets/scss/fonts" as *;
@use "../../../assets/scss/mixins" as *;
@use "../../../assets/scss/variables" as *;

#payment-p-info {
  width: 100%;
  height: 150px;
  border-radius: 1rem;
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: $color-white;
  @include flex-layout($just:space-between);
  img {
    width: 120px;
    height: 120px;
    border-radius: 1rem;
  }
  .parking-info {
    width: 70%;
    height: 120px;
    padding: 0.5rem;
    position: relative;
    @include flex-layout($dir:column, $align:flex-start, $gap:0.5rem);
    .info-address {
      width: 100%;
      color: $color-555;
      @include flex-layout($just:flex-start, $gap:0.5rem);
      .icon-copy {
        cursor: pointer;
      }
    }
    .copy-toast {
      width: 60px;
      height: 25px;
      position: absolute;
      left: 68%;
      transform: translateX(-50%) translateY(10px);
      top: 20px;
      background: #7F31BC;
      color: #fff;
      padding-top: 6px;
      border-radius: 1rem;
      font-size: 14px;
      text-align: center;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s ease, transform 0.2s ease;
      z-index: 10;
    }

    .copy-toast.show {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }

    .info-pay {
      width: 100%;
      @include flex-layout($just:space-between);
      p:nth-child(1) {
        color: $color-555;
      }
    }
  }
}