@use "../../../assets/scss/variables" as *;
@use "../../../assets/scss/fonts" as *;
@use "../../../assets/scss/mixins" as *;


section#pay-box{
  background-color: $color-white;
  width: 100%;
  margin: 0.5rem auto;
  border-radius: 1rem;
  @include flex-layout(column, center, stretch, 0);

  div.paytype-row, div.method-row {
    width: 100%;
    box-sizing: border-box;
    justify-items: stretch; // 각 버튼이 칸을 꽉 채우도록
  }

  // 시간권, 정기권 선택하는 grid
  div.paytype-row {
    display: grid;
    padding: 1rem;
    gap: 1rem; 
    grid-template-columns: repeat(2, minmax(0, 1fr)); // 2열 고정
    button {
      width: 100%;
    }
  }
  
  // 시간권 선택 시, 결제수단 선택 grid
  div.method-row {
    display: grid;
    padding: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
    button {
      width: 100%;
    }
    @include respond {
      // 데스크탑일 때
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
  }

  // 버튼
  button{
    background-color: #fff;
    border-radius: 10px;
    border: 0.5px solid $color-sub;
    outline: none;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
    padding-top: 0.1rem;

    // 버튼 hover 시
    &:hover {
      background-color: $color-white;
    }
  }

  /* 선택된 결제 수단 */
  .pay-btn.active {
    background-color: $color-black;
    border: 2px solid $color-main;
    color: #ffffff;
    transition: 0.3s;
  }
}
