@use "./assets/scss/fonts" as *;
@use "./assets/scss/variables" as *;
@use "./assets/scss/mixins" as *;
*{margin: 0;padding: 0;box-sizing: none;}
.mainpage{
    width: 100%;
    .search{
        @include flex-layout(row,center);
        overflow: visible;
        .input{
            position: relative;
            transition: transform 0.3s ease;
            text-align: center;
            bottom: -20%;
            transform: translateY(-90px);
            width: 200px;
            z-index: 9999; // 지도 위로
            padding: 0.5rem;
            @include caption-r();
            border-radius: 15px;
            border: none;
            background-color: rgba(148, 148, 148, 0.25);
            box-shadow: 0 3px 3px rgba($color: #000000, $alpha: 0.33);
            backdrop-filter: saturate(100%) blur(5px);
            &.active {
            transform: translateY(-305px);
            }
        &:focus{
            width: 300px;
            outline: none;
            border: 0.3px solid rgba(148, 148, 148, 0.45);
        }
    }
}
}
