@use "./assets/scss/fonts" as *;
@use "./assets/scss/variables" as *;
@use "./assets/scss/mixins" as *;
*{margin: 0;padding: 0;}
.mainpage{
    width: 100%;
    .search{
        @include flex-layout(row,center);
        overflow: visible;
        
        .input{
            position: fixed;
            transition: transform 0.3s ease;
            text-align: center;
            bottom: 0;
            transform: translateY(-90px);
            width: 200px;
            z-index: 9999; // 지도 위로
            padding: 0.5rem;
            @include caption-r();
            border-radius: 15px;
            border: none;
            background-color: rgba(148, 148, 148, 0.25);
            box-shadow: 0 3px 3px rgba($color: #000000, $alpha: 0.33);
            backdrop-filter: saturate(100%) blur(5px);
            &.active {
            transform: translateY(-325px);
            opacity: 0;
            }
        &:focus{
            width: 250px;
            outline: none;
            border: 0.3px solid rgba(148, 148, 148, 0.45);
        }
    }
}
}


// layout -sec3 처리 
.layout-main {
  width: 100%;
  @include flex-layout("","",stretch,"");
  padding: 0;
  .sec1{
    display: none;
    flex: 0 0 240px;
    width: 240px;
    min-width: 240px;
  }
  .layout-outlet {
      flex: 1 1 auto;      
      min-width: 0;         
    }
}

// layout -sec3 처리 
.layout-main {
  width: 100%;
  .sec3 {
    display: none;
    flex: 0 0 360px;
    width: 360px;
    min-width: 360px;
  }
}

@include respond {
  .layout-main {

    @include flex-layout(row,center,center,none);
    .layout-outlet {
    min-width: 0;
  }
  .sec1{
    display: inline-block;
  }
     .sec3 {
    display: inline-block;
    width: 100%;
    max-width: 360px;
    justify-self: end;
  }
}

@media (max-width: 767px) {
  .layout-main {
    display: block;
    padding: 0;
  }

  .sec3 {
    display: none;
  }
}